/* ==========================================
   GENERAL PROJECT PAGE
   ========================================== */


.project-page {

    width:100%;

}




/* ==========================================
   HERO SECTION
   ========================================== */


.project-hero {

    height:350px;

    background-size:cover;

    background-position:center;

    position:relative;

}



.hero-overlay {

    position:absolute;

    inset:0;

    display:flex;

    align-items:center;

    justify-content:center;

    background:rgba(0,0,0,0.005);

}



.dark-mode  .hero-overlay h1 {

    color:white;

    font-size:42px;

    max-width:900px;

    text-align:center;

    padding:20px;

}

.light-mode  .hero-overlay h1 {

    color:black;

    font-size:42px;

    max-width:900px;

    text-align:center;

    padding:20px;

}


/* ==========================================
   BACK BUTTON
   ========================================== */


.back-arrow {

    position:fixed;

    top:90px;

    left:35px;

    z-index:1000;

    background:none;

    border:none;

    padding:0;

    font-size:48px;

    cursor:pointer;

    transition:0.25s ease;

}





/* Dark mode */

.back-arrow.dark {

    color:white;

}



.back-arrow.dark:hover {

    color:#5000ca;

    transform:translateX(-5px);

}





/* Light mode */

.back-arrow.light {

    color:black;

}



.back-arrow.light:hover {

    color:#5000ca;

    transform:translateX(-5px);

}





/* Mobile adjustments */

@media (max-width:600px) {


    .back-arrow {

        top:70px;

        left:20px;

        font-size:40px;

    }


}









/* ==========================================
   PROJECT CONTENT
   ========================================== */


.project-content {

    max-width:1000px;

    margin:auto;

    padding:60px 30px;

}



.project-section {

    margin-bottom:60px;

}




.project-section h2 {

    font-size:32px;

    margin-bottom:20px;

}



.project-section p {

    font-size:18px;

    line-height:1.7;

    white-space:pre-line;

}







/* ==========================================
   IMAGE CAPTIONS
   ========================================== */


.image-caption {

    font-size:13px !important;

    line-height:1.4 !important;

    opacity:0.7;

    margin-top:10px;

    text-align:center;

}
